Source: majenko-sdxl
Section: main
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: majenko-sdxl
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: Majenko Technologies
Depends: chipkit
Description: SDXL Development Board



